server:
  port: 8080

spring:
  application:
    name: supportcopilot
  datasource:
    url: jdbc:postgresql://localhost:5432/supportcopilot
    username: support
    password: support
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true

app:
  jwt:
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32+_CHARS"
    expiresMinutes: 240

